*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(253, 253, 225);
}

.logo{
    color: rgb(252, 87, 87);
    font-weight: bolder;
    font-size: 25px;
    max-width: 1200px;
    padding: 10px 10px;
    margin: 0 auto;
}

.hero{
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    margin: 80px auto;
    padding: 0 10px;
   
}

.hero-content{
    flex: 1;
    
}
.hero-content h1{
    color: rgb(49, 48, 48);
    font-size: 45px;
    margin-bottom: 10px;
}

.hero-content p{
    color: rgb(49, 48, 48);
    line-height: 1.5;
}

.hero-content button{
    padding: 10px 25px;
    border: none;
    background-color: rgb(252, 87, 87);
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(255, 90, 95, 0.4);
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in 0.4s;
}

.hero-content button:hover{
    background-color: brown;
}

.hero-visual{
    flex: 1;
    position: relative;
    height: 420px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circle{
    width: 250px;
    height: 250px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: 130px;
}

.image-visual{
    width: 270px;
    height: 250px;
    position: relative;
    margin: 0 auto;
}

.image-visual img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.price{
    position: absolute;
    top: 45px;
    left: 10px;
    background: #2F3640;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 13px;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.review{
    position: absolute;
    bottom: 70px;
    right: 0.5px;
    background: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 13px;
    
    color: #333;
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}
