*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.nav-left{
    position: relative;
    width: 114px;
    height: 83px;
}

.kite{
    position: absolute;

}

.nav-right img{
    width: 63px;
    height: 63px;
    border-radius: 60px;
}