@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600;
    width: 1440px;
}

.navbar{
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    font-family: "League Spartan", sans-serif;
    padding: 29px 0;
    margin-left: 70px;
    font-weight: 700;
    font-size: 20px;
    color: #F8F9FA;
}

.nav-right{
    padding: 30px 0;
    margin-right: 70px;
}

.nav-right a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-right: 25px;
    color: #F8F9FA;
}

.nav-right .fa-sistrix{
    margin-right: 0;
}

.nav-right span{
    margin-right: 17px;
    font-size: 12px;
    font-weight: bold;
    color: #F8F9FA;
}

.nav-right i{
    margin-right: 17px;
}

.hero{
    width: 1440px;
    height: 540px;
    color: #FFFFFF;
}

.hero-details{
    padding-top: 198px;
    padding-left: 69px;
}

.adventure{
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 700;
    max-width: 78px;
    background-color: #FFFFFF26;
    border-radius: 8px;
}

.hero-details h1{
    width: 530px;
    height: 92px;
    font-family: "Lora", serif;
    font-weight: 700px;
    font-size: 36px;
    margin-top: 15px;
}

.date{
    display: flex;
}

.line{
    width: 30px;
    height: 0px;
    border: 1px solid #E5E5E5;
    margin-top: 23px;
}

.date span{
    width: 59px;
    height: 15px;
    font-family: Lora;
    font-weight: 400;
    font-size: 12px; 
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 15px;
    margin-right: 7px;
}

.date p{
    width: 420px;
    height: 40px;
    font-family: Lora;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 13px;
    margin-left: 10px;
}

.dot{
    display: flex;
}

.dot .circle{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FFFFFF33;
    margin-right: 10px;
    margin-top: 85px;
}

.dot :nth-child(1){
    background-color: #FFFFFF;
}